.dropdown {
    min-width: 15em;
    position: relative;
}

.dropdown * {
    box-sizing: border-box;
}

.dropdown-label {
    font-weight: 600;
    display: block;
    margin-bottom: 0.5em;
}

.select {
    background-color: gray;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;

}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width:100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index : 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;

}

.menu li:hover {
    background: #2a2d35;
}




.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}




/* Checkbox styles */
.custom-checkbox {
    display: flex;
    margin: 1.5em 0;
}

.custom-checkbox input[type="checkbox"] {
    appearance: none;
    background-color: #323741;
    border: 2px solid #2a2f3b;
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.2em;
    margin-right: 0.5em;
    cursor: pointer;
    position: relative;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: #26489a;
    border-color: #26489a;
}

.custom-checkbox input[type="checkbox"]:checked::after {
    content: '✓';
    font-size: 1em;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-label {
    color: #9fa5b5;
}

/* Input Box Styles */
.custom-input {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
}

.custom-input label {
    font-weight: 600;
    margin-bottom: 0.5em;
}

.custom-input input[type="text"] {
    background-color: #323741;
    border: 2px solid #2a2f3b;
    color: #fff;
    padding: 0.8em;
    border-radius: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

.custom-input input[type="text"]:focus {
    border-color: #26489a;
    outline: none;
    box-shadow: 0 0 0.5em #26489a;
}


.filter-label {
    color : white;
}


.button {
    padding: 12px 24px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    background-color: #444;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.1s ease;
    font-weight: bold;

}

.button:hover {
    background-color: #333;
}

.button:active {
    background-color: #222;
    transform: scale(0.98);
}